/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Spectral+SC:wght@600&family=Vollkorn&display=swap');

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  min-width: 370px;
}

h1,
h2,
h3,
h4,
h5,
.p-card-title,
.p-datatable-thead,
.p-datatable-header {
  font-family: 'Spectral SC', serif;
  margin: 0;
}

img {
  user-select: none;
}

input {
  cursor: text !important;
}

// primeng overrides

.p-component,
.p-inputtext {
  font-family: 'Vollkorn', serif;
}

.p-togglebutton.p-button.p-highlight:hover,
.p-togglebutton.p-button:focus.p-highlight:hover {
  background: #d9d8d9;
}

.p-togglebutton.p-button:focus {
  background: #ffffff;
}

.p-togglebutton.p-button:focus.p-highlight{
  background: #e0e0e1;
}

// Icon class definitions
.i {
  width: 20px;
  height: 20px;
  background-size: cover;
  display: block;
}

.i-marker {
  background-image: url(assets/icons/Marker.svg);
}

.i-move {
  background-image: url(assets/icons/move.svg);
}

.i-connect {
  background-image: url(assets/icons/connect.svg);
}

.i-eye-open {
  background-image: url(assets/icons/eye-open.svg);
}

.i-eye-closed {
  background-image: url(assets/icons/eye-closed.svg);
}
