/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@600&family=Vollkorn&display=swap');

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  min-width: 370px;
}

h1, h2, h3, h4, h5, .p-card-title {
  font-family: 'Spectral SC', serif;
}

img {
  user-select: none;
}

.p-component, .p-inputtext {
  font-family: 'Vollkorn', serif;
}

input {
  cursor: text !important;
}